@page
@model LevelStat_AlexNesovic.Pages.LoginModel

<h2>Prijava</h2>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p style="color:red">@Model.ErrorMessage</p>
}

<form method="post">
    <label>Email</label><br />
    <input type="email" asp-for="Email" required /><br><br>

    <label>Geslo</label><br />
    <input type="password" asp-for="Password" required /><br><br>
    <label>
        <input type="checkbox" asp-for="RememberMe" />
        Zapomni si me
    </label>
    <br><br>


    <button type="submit">Prijava</button>
</form>

<br>
<a href="/Register">Ustvari račun</a>
