name: Build and Deploy Docker Image to Azure Web App

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

     
      - name: Restore
        run: dotnet restore

      
      - name: Build
        run: dotnet build -c Release --no-restore

      - name: Test
        run: dotnet test ./Levelstat_test/Levelstat_test.csproj -c Release --logger "trx;LogFileName=test_results.trx" --results-directory TestResults



      
      - name: Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Unit Tests
          path: TestResults/*.trx
          reporter: dotnet-trx

      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./naloga2/LevelStat_AlexNesovic
          file: ./naloga2/LevelStat_AlexNesovic/Dockerfile
          push: true
          tags: |
            alexnesovic/levelstat_alexnesovic:latest
            alexnesovic/levelstat_alexnesovic:${{ github.sha }}
