name: Build and Deploy Docker Image to Azure Web App

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

    
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

 
      - name: Restore dependencies
        run: dotnet restore ./naloga2/LevelStat_AlexNesovic.sln

 
      - name: Build solution
        run: dotnet build ./naloga2/LevelStat_AlexNesovic.sln --no-restore --configuration Release

    

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./naloga2/LevelStat_AlexNesovic
          file: ./naloga2/LevelStat_AlexNesovic/Dockerfile
          push: true
          tags: |
            alexnesovic/levelstat_alexnesovic:latest
            alexnesovic/levelstat_alexnesovic:${{ github.sha }}


      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "Levelstat"
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          images: "alexnesovic/levelstat_alexnesovic:latest"
